.black-bold{
    background-color: black;
    border-radius: 15px;
    padding: 10% 0;
    margin-left: 5px;
}

@media only screen and (max-width: 991.20px) {
    .black-bold{
        background-color: rgb(51, 51, 51);
        margin-top: 7px;
        width: 150px;
    }
}

.grey-bold{
    background-color: rgb(226, 225, 225);
    border-radius: 15px;
    padding: 10% 0;
    margin-left: 5px;
}

@media only screen and (max-width: 991.20px) {
    .grey-bold{
        background-color: transparent;
    }
}

#container {
    padding: 10vw;
}

.login-form{width:390px;}
.login-title{text-align:center;color: black;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right;}
.submit{width: 100%;}
.img-hm30{height: 30px;}

.btnContainer{
    margin-top: 10vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-cont{
    display: flex;
    justify-content: space-between;
}

#link-cont1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}