.borde-b{border-bottom: 2px solid black;}
.bordes{border: 2px solid black;}

/* Data User*/

.data #name{grid-area: name; font-size: 2rem;}
.data #email{grid-area: email; font-size: 1rem;}
.data #phone{grid-area:phone;font-size:1rem;}
.data #edit{grid-area: edit;}

.data{
    display: grid;
    grid-template-areas: "name"
    " email" 
    "phone" "edit"
    ;
    width: 70%;
    height: 9rem;
    margin-left: 1rem;
}

.data-user{margin-left: 1rem;}

.data-user img{
    width: 7rem;
    height: 7rem;
    margin-top: 0.9rem;
}

#info{margin-left: 2rem;}
.panel-lateral{width: 25%; margin-right: 4rem;}
.panel-principal{width: 75%;}
.log-out{display: none;}
.op{display: flex;}
input,select{height: 1.85rem;}

@media only screen and (max-width: 991.20px){
    #main{flex-direction: column-reverse;}
    .panel-lateral{width: 100%;}
    .panel-principal{width: 100%;}
    .data{height: 7rem;}
    .data #name{font-size: 1.5rem;}
    .data #email,#phone,#edit{font-size:0.9rem;}
    .data-user img{height: 5.5rem;width: 5.5rem; margin-top:0.75rem ;}
    .user{display: none;}
    .log-out{display: block;}
    #formName,#formEmail,#formPhone,#formRFC,#formAlcaldia,#formColonia,#formZipCode,#formStreet{flex-direction: column; width: 100%;}
    input,select{width: 90%;}
    .op{flex-direction: column;}
    .botones{margin-top: 1rem;}
}